:root {
  --main-menu-color: #78e08f;
  --main-bg-color: #27ae60;
}

.AccessControl {
  text-align: center;
}

.googleLoginButton {
  background: url("btn_google_signin_light_normal_web.png") no-repeat;
  width: 191px;
  height: 46px;
  margin: 50px auto;
}

.loginButton:hover {
  cursor: pointer;
}

.bookCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectBox {
  width: 500px;
}

.titleEdit {
  width: 500px;
}

.reviewEdit {
  width: 500px;
  height: 300px;
  resize: none;
}
