:root {
  --main-menu-color: #78e08f;
  --main-bg-color: #27ae60;
}

.selected {
  background: radial-gradient(
    circle,
    rgba(120, 224, 143, 1) 0%,
    rgba(39, 174, 96, 1) 100%
  );
}

.bookCard {
  display: flex;
  width: 160px;
  height: 300px;
  background-color: #bdc3c7;
  margin: 20px 10px;
  border-width: 2px;
  /*border-color: lightblue;
  border-style: solid;*/
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookCardTitle {
  width: 120px;
  height: 30px;
  /*background-color: #ecf0f1;*/
  border-style: solid;
  border-width: 2px;
  border-color: #7f8c8d;
  border-radius: 1px;
  margin: 1px auto;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
.Icon {
  color: black;
  margin: auto 2px;
}
.Icon:hover {
  color: #e84118;
}

.bookCardLink {
  color: grey;
}
.bookCardLink:hover {
  color: black;
}

.bookCardThumbnail {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  width: 120px;
  height: 180px;
}

.IconBox {
  display: flex;
  width: 120px;
  margin: 5px auto;
  flex-direction: row;
  justify-content: center;
}

.reviewCard {
  display: flex;
  width: 700px;
  height: 150px;
  margin: auto 20px;
  border-width: 2px;
  border-color: lightblue;
  border-style: solid;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
